<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.material.material.entity.FormulaDetailEntity">

    <sql id="BaseColumn">
        id, formula_name,formula_code,description,total_weight,parent_id,formula_part_id,version, online_status,update_by,update_date,deleted,create_by,create_date
    </sql>

    <insert id="batchInsert">
        insert into formula(formula_name,formula_code,description,total_weight,parent_id,formula_part_id,version, online_status,update_by,update_date,deleted,create_by,create_date)
        values
        <foreach collection="formulaList" item="item" open="(" close=")" separator=",">
            #{item.formulaName}, #{item.formulaCode}, #{item.descripion}, #{item.totalWeight}, #{item.parentId}, #{item.formulaPartId}, #{item.version}, #{item.onlineStatus},#{item.updateBy}, now(), 0, #{item.createBy}, now()
        </foreach>
    </insert>


</mapper>
